:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --titel-dark-color: #212121;
    --titel-light-color: #ffffff;
    --text-dark-color: #757575;
    --accent-color: #2196F3;
    --logo-black: #000000;
}

body {
    font-family: var(--main-font);
    font-size: 14px;
    color: var(--titel-dark-color);
    background-color: var(--titel-light-color);
}

.link {
    text-decoration: none;
    font-style: normal;
}

.list {
    list-style: none;
}


/* ШАПКА САЙТА */

.logo {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--logo-black);
    text-decoration: none;
}

.logo-blue {
    color: var(--accent-color);
}

.navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;
    color: var(--titel-dark-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus {
    color: var(--accent-color);
}

.header-mail,
.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-dark-color);
}

.header-mail:hover,
.header-tel:hover,
.header-mail:focus,
.header-tel:focus {
    color: var(--accent-color);
}


/* Cекция HERO */

.hero-titel {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--titel-light-color);
    background-color: gray;
    /*заглушка для белого текста*/
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--titel-light-color);
}

.subtitel-dark {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
    color: var(--text-dark-color);
}


/* Секция ЧЕМ МЫ ЗАНИМАЕМСЯ */

.titel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.we-do-list-titel {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--titel-light-color);
    background-color: gray;
    /*заглушка для белого текста*/
}


/* Секция НАША КОМАНДА */

.team-list-item-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--titel-dark-color);
}

.team-list-item-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-dark-color);
}


/* Секция ПОСТОЯННЫЕ КЛИЕНТЫ */


/* ПОДВАЛ */

.footer .logo {
    color: var(--titel-light-color);
    background-color: gray;
    /*заглушка для белого текста*/
}

.contacts-list-link-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
    color: var(--titel-light-color);
    background-color: gray;
    /*заглушка для белого текста*/
}

.contacts-list-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: gray;
    /*заглушка для белого текста*/
}


/* portfolio.html */


/* Секция ФИЛЬТР */

.filter-list-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var (--titel-dark-color);
}


/* Секция ПРИМЕРЫ РОБОТ */

.work-list-titel {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--titel-dark-color);
}

.work-list-description {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--titel-light-color);
}

.work-list-kind {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--text-dark-color);
}